<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/cdn :: cdn">
</head>
<body>
<div th:insert="fragments/nav :: navbar"></div>
<div class="container">
	<div class="page-header">
		<h3>Pagina acquisti</h3>
		<p>Totale:<th:block th:text="${_carrello?.totaleComplessivo()}"/>&euro;
	</div>
	<div>
	<table class="table table-hover">
		<thead> 
		<tr>
			<th style="width:200px;">Marca</th>
			<th style="width:200px;">Modello</th>
			<th style="width:200px;">Prezzo</th>
			<th style="width:200px;">&nbsp;</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each="articolo: ${listaArticoli}">
			<td th:text="${articolo.marca}"></td>
			<td th:text="${articolo.modello}"></td>	
			<td th:text="${articolo.prezzo}">&euro;</td>
			<td>
			<a th:href="@{|/add/${articolo.idArticolo}|}">
				<button type="button" 
				class="btn btn-success btn-sm">
				<span class="glyphicon glyphicon-shopping-cart"></span>
				</button>
			</a>
			</td>
			</tr>	
		</tbody>
	</table>
	<a th:href="@{/carrello}">
	<button type="button" 
				class="btn btn-warning">
		Acquista
	</button>
	</a>
</div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
	
	