<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/cdn :: cdn">
</head>
<body>
<div th:insert="fragments/nav :: navbar"></div>
<div class="container">
	<div class="page-header">
		<h3>Inserire i dati per il login</h3>
	</div> 

	<form th:action="@{/login}"
	method="post" id="userForm" class="form-horizontal">
	
	<!-- ---------------------------------Username -->
	<div class="form-group"> 
		<label class="col-md-1 control-label">Username</label>
		<div class="col-md-4 inputGroupContainer">
			<div class="input-group"> 
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-user"></i>
				</span>
				<input type="text" name="username" placeholder="Username..."
				class="form-control" id="username" autocomplete="username"
				>		
			</div>
		</div>	
		<div class="col-md-7 control-label" id="infoUsername"></div>
	</div>
	
	<!-- ---------------------------------Password -->
	<div class="form-group"> 
		<label class="col-md-1 control-label">Password</label>
		<div class="col-md-4 inputGroupContainer">
			<div class="input-group"> 
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-lock"></i>
				</span>
				<input type="password" name="password" placeholder="Password..."
				class="form-control" id="password" autocomplete="new-password"
				>		
			</div>
		</div>	
		<div class="col-md-7 control-label" id="infoPassword"></div>
	</div>
	
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<button type="submit" class="btn btn-warning">
				Login&nbsp;<span class="fa fa-sign-in fa-lg"></span>
			</button>
		</div>
	</div>
	</form>
	<br>
	Non sei registrato?<a href="/registrazione">Registrati subito!</a>
	</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>
	