<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/cdn :: cdn">
</head>
<body>
<div th:insert="fragments/nav :: navbar"></div>
<div class="container"> 
	<div class="jumbotron" style="margin-top: 50px;">
		<h1 class="display-4">Elenco Ordini</h1>
		<p class="lead">Sezione acquisti on-line</p>
		<hr>
		
		
	<table class="table table-hover">
		<thead> 
		<tr>
			<th style="width:200px;">Id Ordine</th>
			<th style="width:200px;">Data</th>
			<th style="width:200px;">Totale</th>
			<th style="width:200px;">Username</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="ordine : ${ordini}">
			<td th:text="${ordine.idOrdine}"></td>
			<td th:text="${ordine.data}"></td>
			<td th:text="${ordine.totale}">&euro;</td>
			<td th:text="${ordine.utente.username}"></td>
		</tr>
		</tbody>
	</table>


</div>
</div>
<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>